<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Viewer</title>
</head>
<body>
    <p>Client IP ADDR:{{ clientip }}</p>
    <p>Server Port:{{ serverport }}</p>
    <p>Path:{{ path }}</p>
    <p>Method:{{ method }}</p>
    <h2>Headers</h2>
    {% for key,value in headers.items %}
        <p>{{key}}:{{value}}</p>
    {% endfor %}
    {% if post %}
        <h2>POST data</h2>
            {% for key,value in post.items %}
                <p>{{key}}:{{value}}</p>
            {% endfor %}
    {% endif %}
    <h2>POST test</h2>
    <form action="{{ path }}" method="post">
        1 : <input type="text" name="1" ><br><br>
        2 : <input type="text" name="2"><br><br>
        3 : <input type="text" name="3"><br><br>
        4 : <input type="text" name="4"><br><br>
        5 : <input type="text" name="5"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>